<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.app.servicecenter.inquiry.repository.QuestionRepository">

	<insert id="insertQuestion" useGeneratedKeys="true" keyProperty="questionId" keyColumn="question_id">
	insert into 
		question 
		values(seq_question_id.nextval, #{questionMemberId}, #{questionCategory}, #{questionEmail}, #{questionTitle}, #{questionContent}, default)
	</insert>
    
    <insert id="insertAttachment" useGeneratedKeys="true" keyProperty="imageId" keyColumn="image_id">
    insert into 
    	image_attachment 
    	(image_id, image_type, image_original_filename, image_renamed_filename, thumbnail, image_file_size, image_created_at) 
    	values(seq_image_attachment_id.nextval, #{imageType}, #{imageOriginalFilename}, #{imageRenamedFilename}, #{thumbnail}, #{imageFileSize}, default)
	</insert>
	
	<select id="findImageAttachmentsByQuestionId" resultMap="QuestionDetailsResultMap">
	select
	    q.question_id,
	    q.question_title,
	    q.question_content,
	    ia.image_original_filename,
	    ia.image_renamed_filename
	from 
	    question q
	left join 
	    image_attachment_mapping iam on q.question_id = iam.ref_id and iam.ref_table = 'question'
	left join
	    image_attachment ia on iam.image_id = ia.image_id
	where 
    	q.question_id = #{questionId}
	</select>

	<select id="findAttachmentById" resultMap="ImageAttachmentResultMap">
	select 
		q.*, ia.*
	from 
		question q
	join 
		image_attachment_mapping iam on q.question_id = iam.ref_id
	join 
		image_attachment ia on iam.image_id = ia.image_id
	where 
		q.question_id = #{questionId} and iam.ref_table = 'question'
	</select>

    <resultMap type="Question" id="questionResultMap">
        <id property="questionId" column="question_id"/>
        <result property="questionMemberId" column="question_member_id"/>
        <result property="questionCategory" column="question_category"/>
        <result property="questionEmail" column="question_email"/>
        <result property="questionTitle" column="question_title"/>
        <result property="questionContent" column="question_content"/>
        <result property="questionCreatedAt" column="question_created_at"/>
    </resultMap>
    
	<resultMap type="QuestionDetails" id="QuestionDetailsResultMap">
	    <id property="questionId" column="question_id"/>
	    <result property="questionMemberId" column="question_member_id"/>
	    <result property="questionCategory" column="question_category"/>
	    <result property="questionEmail" column="question_email"/>
	    <result property="questionTitle" column="question_title"/>
	    <result property="questionContent" column="question_content"/>
	    <result property="questionCreatedAt" column="question_created_at"/>
	
	    <!-- image_attachment 테이블의 내용을 imageAttachment 객체에 매핑 -->
	    <collection property="attachments" ofType="ImageAttachment">
	        <result property="imageId" column="image_id"/>
	        <result property="imageType" column="image_type"/>
	        <result property="imageCategory" column="image_category"/>
	        <result property="imageOriginalFilename" column="image_original_filename"/>
	        <result property="imageRenamedFilename" column="image_renamed_filename"/>
	        <result property="imageFileSize" column="image_file_size"/>
	        <result property="imageCreatedAt" column="image_created_at"/>
	    </collection>
	</resultMap>

	<resultMap type="ImageAttachment" id="ImageAttachmentResultMap">
	    <id property="imageId" column="image_id"/>
	    <result property="imageType" column="image_type"/>
	   	<result property="imageCategory" column="image_category"/>
	    <result property="imageOriginalFilename" column="image_original_filename"/>
	    <result property="imageRenamedFilename" column="image_renamed_filename"/>
	    <result property="imageFileSize" column="image_file_size"/>
	    <result property="imageCreatedAt" column="image_created_at"/>
	    <!-- 기타 필드 -->
	</resultMap>
</mapper>