<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.app.order.repository.OrderRepository">

   <select id="adminOrderList" resultMap="orderAdminListDto">
   select
      ot.order_id,
      ot.order_date,
      ot.order_no,
      p.product_name,
      ot.order_status,
      ot.payment_status,
      ot.member_id,
      ot.amount,
      ot.delivery_fee,
      pay.payment_method
   from
      orderTbl ot
      left join
      order_detail od ON ot.order_id = od.order_id
      left join
      product_detail pd ON od.product_detail_id = pd.product_detail_id
      left join
      product p ON pd.product_id = p.product_id
      left join
      payment pay ON ot.order_id = pay.order_id
   order by
      ot.order_id desc
   </select>
   <resultMap type="OrderAdminListDto" id="orderAdminListDto">
      <id column="order_id" property="orderId" />
      <result column="order_date" property="orderDate" />
      <result column="order_no" property="orderNo" />
      <result column="product_name" property="productName" />
      <result column="order_status" property="orderStatus" />
      <result column="payment_status" property="paymentState" />
      <result column="member_id" property="memberId" />
      <result column="amount" property="amount" />
      <result column="delivery_fee" property="deliveryFee" />
      <result column="payment_method" property="paymentMethod" />
   </resultMap>
   
   <select id="adminOrderSearch" resultMap="orderAdminListDto">
        SELECT
          ot.order_id,
          ot.order_date,
          ot.order_no,
          p.product_name,
          ot.order_status,
          ot.payment_status,
          ot.member_id,
          ot.amount,
          ot.delivery_fee,
          pay.payment_method
      FROM
          orderTbl ot
      LEFT JOIN
          order_detail od ON ot.order_id = od.order_id
      LEFT JOIN
          product_detail pd ON od.product_detail_id = pd.product_detail_id
      LEFT JOIN
          product p ON pd.product_id = p.product_id
      LEFT JOIN
          payment pay ON ot.order_id = pay.order_id
       <where>
            ot.order_status IN
           <foreach 
              collection="orderStatus" 
              item="status" 
              open="(" 
              separator="," 
              close=")">
               #{status}
           </foreach>
            AND pay.payment_method IN
           <foreach 
              collection="paymentMethod" 
              item="method" 
              open="(" 
              separator="," 
              close=")">
               #{method}
           </foreach>
          <if test="searchKeyword != ''">
             AND (ot.order_no LIKE '%' || #{searchKeyword} || '%' OR p.product_name LIKE '%' || #{searchKeyword} || '%')
          </if>
          <if test="startDate != ''">
             AND ot.order_date &gt;= #{startDate}
          </if>
          <if test="endDate != ''">
             AND ot.order_date &lt;= #{endDate}
          </if>
         </where>
      ORDER BY
          ot.order_id DESC
     </select>


   <select id="adminStatisticsProduct" resultMap="orderAdminProductStatisticsDto">
      SELECT
          p.product_id,
          p.product_name,
          p.category_id,
          pc.category_name,
          p.product_price,
          SUM(od.quantity) AS total_sold,
          SUM(od.quantity * p.product_price) AS total_price
      FROM
          product p
          JOIN product_category pc ON p.category_id = pc.category_id
          JOIN product_detail pd ON p.product_id = pd.product_id
          LEFT JOIN order_detail od ON pd.product_detail_id = od.product_detail_id
          LEFT JOIN orderTbl ot ON od.order_id = ot.order_id
      WHERE
          ot.payment_status = 1
      GROUP BY
          p.product_id, p.product_name, p.category_id, pc.category_name, p.product_price
      ORDER BY
          total_sold DESC
     </select>
     
     <select id="adminStatisticsPrice" resultMap="orderAdminProductStatisticsDto">
      SELECT
          p.product_id,
          p.product_name,
          p.category_id,
          pc.category_name,
          p.product_price,
          SUM(od.quantity) AS total_sold,
          SUM(od.quantity * p.product_price) AS total_price
      FROM
          product p
          JOIN product_category pc ON p.category_id = pc.category_id
          JOIN product_detail pd ON p.product_id = pd.product_id
          LEFT JOIN order_detail od ON pd.product_detail_id = od.product_detail_id
          LEFT JOIN orderTbl ot ON od.order_id = ot.order_id
      WHERE
          ot.payment_status = 1
      GROUP BY
          p.product_id, p.product_name, p.category_id, pc.category_name, p.product_price
      ORDER BY
          total_price DESC
     </select>
   <resultMap type="OrderAdminProductStatisticsDto" id="orderAdminProductStatisticsDto">
      <id column="product_id" property="productId" />
      <result column="product_name" property="productName" />
      <result column="category_id" property="categoryId" />
      <result column="category_name" property="categoryName" />
      <result column="product_price" property="productPrice" />
      <result column="total_sold" property="totalSold" />
      <result column="total_price" property="totalPrice" />
   </resultMap>
   
   <select id="adminStatisticsByMonthly" resultMap="orderAdminStatisticsByDateDto">
      SELECT
          TO_CHAR(order_date, 'YYYY-MM') AS order_monthly,
          SUM(total_price) AS monthly_total_sales
      FROM
          orderTbl
      WHERE
          payment_status = 1
      GROUP BY
          TO_CHAR(order_date, 'YYYY-MM')
      ORDER BY
          TO_CHAR(order_date, 'YYYY-MM')
     </select>
     <select id="adminStatisticsByDaily" resultMap="orderAdminStatisticsByDateDto">
         SELECT
          TO_CHAR(order_date, 'YYYY-MM-DD') AS order_daily,
          SUM(total_price) AS daily_total_sales
      FROM
          orderTbl
      WHERE
          payment_status = 1
      GROUP BY
          TO_CHAR(order_date, 'YYYY-MM-DD')
      ORDER BY
          TO_CHAR(order_date, 'YYYY-MM-DD')
     </select>
     
   <resultMap type="OrderAdminStatisticsByDateDto" id="orderAdminStatisticsByDateDto">
      <result column="order_monthly" property="orderMonthly" />
      <result column="order_daily" property="orderDaily" />
      <result column="daily_total_sales" property="dailyTotalSales" />
      <result column="monthly_total_sales" property="monthlyTotalSales" />
   </resultMap>


   <select id="getCancelInfo" resultType="OrderCancelInfoDto">
   select
      m.name,
      m.phone,
      m.address,
      ot.order_no,
      ot.order_date,
      ot.order_status,
      ot.total_price,
      p.payment_method,
      p.payment_date,
      ot.payment_status,
      ot.amount,
      ot.discount
   from
      orderTbl ot left join member m on ot.member_id = m.member_id
      left join payment p on p.order_id = ot.order_id
   where
      ot.order_no = #{orderNo}
   </select>
   
   <select id="getCancelInfoAll" resultType="OrderCancelInfoDto">
   select
      m.name,
      m.phone,
      m.address,
      ot.order_no,
      ot.order_date,
      ot.order_status,
      ot.total_price,
      p.payment_method,
      p.payment_date,
      ot.payment_status,
      ot.amount,
      ot.discount
   from
      orderTbl ot left join member m on ot.member_id = m.member_id
      left join payment p on p.order_id = ot.order_id
   where
      ot.member_id = #{memberId}
      and
      ot.order_status = 5
   </select>
   
   
   <select id="getCancelInfoByPeriod" resultType="OrderCancelInfoDto">
   select
      m.name,
      m.phone,
      m.address,
      ot.order_no,
      ot.order_date,
      ot.order_status,
      ot.total_price,
      p.payment_method,
      p.payment_date,
      ot.payment_status,
      ot.amount,
      ot.discount
   from
        cancel_order c left join orderTbl ot on c.order_id = ot.order_id
        left join payment p on p.order_id = c.order_id
        left join member m on ot.member_id = m.member_id
   where
      ot.member_id = #{memberId} and c.request_date >= ADD_MONTHS(TRUNC(SYSDATE), -#{period})
      and
      ot.order_status = 5
   </select>
   
   <select id="getOrderDetail" resultType="orderHistoryDto">
   select
      p.product_id,
      ot.order_id,
      ot.order_date,
      ot.order_no,
      ot.order_status,
      (select product_name from product where product_id = pd.product_id)
      product_name,
      pd.option_name,
      pd.option_value,
      od.product_detail_id,
      od.quantity,
      ot.amount,
      ia.image_renamed_filename as thumbnail
   from
      orderTbl ot 
      left join 
          order_detail od on ot.order_id = od.order_id
      left join 
          product_detail pd on od.product_detail_id = pd.product_detail_id
      left join 
          product p on p.product_id = pd.product_id
	  join 
		  image_attachment_mapping iam on p.product_id = iam.ref_id and iam.ref_table = 'product'
	  join
		  image_attachment ia ON iam.image_id = ia.image_id and ia.thumbnail = 'Y'
   where
      ot.order_no = #{orderNo}
   </select>
   
   <resultMap type="OrderCancelInfoDto" id="orderCancelnfoDto">
      <result column="name" property="name" />
      <result column="address" property="address" />
      <result column="phone" property="phone" />
      <result column="order_no" property="orderNo" />
      <result column="order_date" property="orderDate" />
      <result column="order_status" property="orderStatus" />
      <result column="total_price" property="totalPrice" />
      <result column="payment_method" property="paymentMethod" />
      <result column="payment_date" property="paymentDate" />
      <result column="payment_status" property="paymentStatus" />
      <result column="amount" property="amount" />
      <result column="discount" property="discount" />
   </resultMap>
   

   <resultMap type="OrderHistoryDto" id="orderHistoryDto">
      <result column="order_id" property="orderId" />
      <result column="product_id" property="productId" />
      <result column="order_date" property="orderDate" />
      <result column="order_no" property="orderNo" />
      <result column="order_status" property="orderStatus" />
      <result column="product_id" property="productId"/>
      <result column="product_name" property="productName" />
      <result column="option_name" property="optionName" />
      <result column="option_value" property="optionValue" />
      <result column="product_detail_id" property="productDetailId" />
      <result column="quantity" property="quantity" />
      <result column="amount" property="amount" />
      <result column="image_original_filename" property="imageOriginalFileName" />
      <result column="image_renamed_filename" property="imageRenamedFileName" />
   </resultMap>

	<select id="findOrdersByReviewId" resultType="OrderReviewListDto">
	SELECT 
	    r.order_id,
	    pd.option_name, 
	    pd.option_value,
	    p.product_id, 
	    p.product_name,
	    pd.product_detail_id,
	    ia.image_original_filename,
	    ia.image_renamed_filename    
	FROM 
	    review r 
	    left join product_detail pd 
	        on r.product_detail_id = pd.product_detail_id 
	    left join product p 
	        on p.product_id = pd.product_id 
	    left join orderTbl o
	        on r.review_id = o.order_id
	    join image_attachment_mapping iam 
	        on p.product_id = iam.ref_id and iam.ref_table = 'product'
	    join image_attachment ia 
	        ON iam.image_id = ia.image_id
	WHERE 
	    r.review_member_id = #{reviewMemberId}
	</select>

   <resultMap type="OrderReviewListDto" id="orderReviewListDto">
      <result column="order_id" property="orderId" />
      <result column="product_name" property="productName" />
      <result column="option_name" property="optionName" />
      <result column="option_value" property="optionValue" />
      <result column="product_id" property="productId" />
      <result column="product_detail_id" property="productDetailId" />
      <result column="image_original_filename" property="imageOriginalFileName" />
      <result column="image_renamed_filename" property="imageRenamedFileName" />
   </resultMap>


	<select id="findProductByReviewId" resultType="OrderReviewListDto">
	SELECT 
	    r.order_id,
	    pd.option_name, 
	    pd.option_value,
	    p.product_id, 
	    p.product_name,
	    pd.product_detail_id,
	    ia.image_original_filename,
	    ia.image_renamed_filename    
	FROM 
	    review r 
	    left join product_detail pd 
	        on r.product_detail_id = pd.product_detail_id 
	    left join product p 
	        on p.product_id = pd.product_id 
	    left join orderTbl o
	        on r.review_id = o.order_id
	    join image_attachment_mapping iam 
	        on p.product_id = iam.ref_id and iam.ref_table = 'product'
	    join image_attachment ia 
	        ON iam.image_id = ia.image_id
	WHERE 
	    r.review_id = #{reviewId} and r.product_id = #{productId} and p.product_id = #{productId}
	</select>
   
</mapper>