<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.app.cart.repository.CartRepository">

 <select id="getPrice" resultMap="priceListMap">
	select 
		product_name, product_price 
	from 
		product 
	where 
		product_id = #{productId}
  </select>
  
  <resultMap type="map" id="priceListMap">
  	<result column="product_name" property="productName" />
  	<result column="product_price" property="productPrice" />
  </resultMap>
</mapper>