<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.app.review.repository.ReviewRepository">

    <insert id="insertAttachment" useGeneratedKeys="true" keyProperty="imageId" keyColumn="image_id">
    insert into 
    	image_attachment 
    	(image_id, image_type, image_original_filename, image_renamed_filename, image_file_size, image_created_at) 
    	values(seq_image_attachment_id.nextval, #{imageType}, #{imageOriginalFilename}, #{imageRenamedFilename}, #{imageFileSize}, default)
	</insert>
	
	<select id="findImageAttachmentsByReviewId" resultMap="ReviewDetailsResultMap">
	SELECT
	    r.review_id,
	    r.review_title,
	    r.review_content,
	    r.review_star_rate,
	    ia.image_original_filename,
	    ia.image_renamed_filename
	FROM 
	    review r
	LEFT JOIN 
	    image_attachment_mapping iam ON r.review_id = iam.ref_id AND iam.ref_table = 'review'
	LEFT JOIN
	    image_attachment ia ON iam.image_id = ia.image_id
	WHERE 
	    r.review_id = #{reviewId}
	</select>
	
	<select id="findImageAttachmentsByReviewMemberId" resultMap="ReviewDetailsResultMap">
	SELECT
	    r.review_id,
	    r.review_title,
	    r.review_content,
	    r.review_star_rate,
	    ia.image_original_filename,
	    ia.image_renamed_filename
	FROM 
	    review r
	LEFT JOIN 
	    image_attachment_mapping iam ON r.review_id = iam.ref_id AND iam.ref_table = 'review'
	LEFT JOIN
	    image_attachment ia ON iam.image_id = ia.image_id
	WHERE 
	    r.review_id = #{reviewId}
	</select>
    
    <resultMap type="Review" id="reviewResultMap">
    	<id property="reviewId" column="review_id"/>
    	<result property="petId" column="pet_id"/>
    	<result property="orderId" column="order_id"/>
    	<result property="revieMemberId" column="review_member_id"/>
    	<result property="productDetailId" column="product_detail_id"/>
    	<result property="reviewTitle" column="review_title"/>
    	<result property="reviewContent" column="review_content"/>
    	<result property="reviewStarRate" column="review_star_rate"/>
    	<result property="reviewCreatedAt" column="review_created_at"/>
    </resultMap>
    
	<resultMap type="ReviewDetails" id="ReviewDetailsResultMap">
	    <id property="reviewId" column="review_id"/>
	    <result property="petId" column="pet_id"/>
	    <result property="orderId" column="order_id"/>
	    <result property="reviewMemberId" column="review_member_id"/>
	    <result property="productDetailId" column="product_detail_id"/>
	    <result property="reviewTitle" column="review_title"/>
	    <result property="reviewContent" column="review_content"/>
	    <result property="reviewStarRate" column="review_star_rate"/>
	    <result property="reviewCreatedAt" column="review_created_at"/>
	
	    <!-- image_attachment 테이블의 내용을 imageAttachment 객체에 매핑 -->
	    <collection property="attachments" ofType="imageAttachment">
	        <result property="imageId" column="image_id"/>
	        <result property="imageType" column="image_type"/>
	        <result property="imageCategory" column="image_category"/>
	        <result property="imageOriginalFilename" column="image_original_filename"/>
	        <result property="imageRenamedFilename" column="image_renamed_filename"/>
	        <result property="imageFileSize" column="image_file_size"/>
	        <result property="imageCreatedAt" column="image_created_at"/>
	    </collection>
	</resultMap>
</mapper>