<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.app.member.repository.MemberRepository">
    <!-- 회원 로그인을 위한 쿼리 -->
   <select id="loadUserByUsername" resultMap="memberAuthMap">
	select
	    *
	from 
	    member M
	  left join authority A
	    on M.member_id = A.member_id
	where 
	    M.member_id = #{username}
  </select>

  
 <resultMap id="memberAuthMap" type="memberDetails">
      <id column="member_id" property="memberId"/>
      <result column="password" property="password"/>
      <result column="name" property="name"/>
      <result column="phone" property="phone"/>
      <result column="email" property="email"/>
      <result column="address " property="address"/>
      <result column="birthday" property="birthday"/>
      <result column="subscribe " property="subscribe"/>
      <collection property="authorities"
                  ofType="simpleGrantedAuthority">
          <constructor>
              <!-- javaType 필수 -->
              <arg column="auth" javaType="string"/>
          </constructor>
      </collection>
  </resultMap>

  <select id="getMyPage" resultMap="myPageDto">
	select
	    m.member_id,
	    m.name,
	    m.address,
	    m.subscribe,
	    recent_point.point_current,
	    (
	        select count(*)
	        from member_coupon
	        where member_id = m.member_id and use_status = 0
	    ) as coupon_count
	from
	    member m
	left join (
	    select
	        point_member_id,
	        point_current
	    from (
	        select
	            p.point_member_id,
	            p.point_current,
	            row_number() over (partition by p.point_member_id order by p.point_date desc) as rn
	        from
	            point p
	    ) temp
	    where temp.rn = 1
	) recent_point on m.member_id = recent_point.point_member_id
	where
	    m.member_id = #{memberId}
  </select>
  
  <resultMap type="MyPageDto" id="myPageDto">
  	<result column="member_id" property="memberId" />
  	<result column="name" property="name" />
  	<result column="address" property="address" />
  	<result column="subscribe" property="subscribe" />
  	<result column="point_current" property="pointCurrent" />
  	<result column="coupon_count" property="memberCoupon" />
  </resultMap>
  
  
    <resultMap type="SubMember" id="subMember">
  	<result column="subscribe_id" property="subscribeId" />
  	<result column="member_id" property="memberId" />
  	<result column="merchant_uid" property="merchantUid" />
  	<result column="schedule_at" property="scheduleAt" />
  	<result column="schedule_status" property="scheduleStatus" />
  	<result column="amount" property="amount" />
  </resultMap>
  
  
</mapper>
