/* .common-container { ��ü
	display: flex;
	align-items: center;
	text-align: center;
	margin: 20px auto;
	align-content: stretch;
	justify-content: center;
} */

.login-form { /*�α���*/
	display: flex;
	text-align: center;
	margin: 0 auto;
	font-size: 35px;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 50px;
}

.form-control {
	display: flex;
	width: 500px;
	text-align: center;
	justify-content: center;
	margin: 20px auto;
	height: 70px;
	border-radius: 35px; /* �ձ۰� ����� ���� ������ ���ݰ� ���� */
	font-size: 20px;
}

.form-control2 {
	display: flex;
	width: 500px;
	text-align: center;
	justify-content: center;
	margin: 20px auto;
	height: 70px;
	border-radius: 35px; /* �ձ۰� ����� ���� ������ ���ݰ� ���� */
	font-size: 20px;
}


.save-search { /*���̵�����, ���̵� ��й�ȣã�� */
	margin-top: 20px;
	margin-bottom: 20px;
}

.saveId { /* ���̵����� */
	margin-right: 50px;
	font-size: 25px;
	width: 25px;
	height: 25px;
	margin-botom: 10px;
	width: 40px;
	height: 40px;

}

.search { /* ���̵� ��й�ȣ ã�� */
	margin-left: 50px;
	border: none !important; /* �׵θ� ���� */
	font-size: 18px;
	background-color: white;
	border: none !important;
}

.login-btnAll { /* �α��� ��ư ��ü */
	display: flex;
	text-align: center;
	border: none !important; /* �׵θ� ���� */
	justify-content: center;
	font-size: 70px;
	margin: 10px auto;
}

.login-btn {
	background-color: #c8c8c8;;
	width: 500px;
	height: 70px;
	border-radius: 35px; /* �ձ۰� ����� ���� ������ ���ݰ� ���� */
	border: none !important; /* �׵θ� ���ֱ� */
	color: white; /* �ؽ�Ʈ ������ ������� ���� */
	font-size: 25px;
}

.kakao-btn {
	background-color: #FFF064;
	width: 500px;
	height: 70px;
	border-radius: 35px; /* �ձ۰� ����� ���� ������ ���ݰ� ���� */
	border: none !important; /* �׵θ� ���ֱ� */
	color: white; /* �ؽ�Ʈ ������ ������� ���� */
	font-size: 25px;
}

.naver-btn {
	background-color: #9EF048;
	width: 500px;
	height: 70px;
	border-radius: 35px; /* �ձ۰� ����� ���� ������ ���ݰ� ���� */
	border: none !important; /* �׵θ� ���ֱ� */
	color: white; /* �ؽ�Ʈ ������ ������� ���� */
	font-size: 25px;
}

.signUp-btn {
	background: #c8c8c8;
	width: 500px;
	height: 70px;
	border-radius: 35px; /* �ձ۰� ����� ���� ������ ���ݰ� ���� */
	border: none !important; /* �׵θ� ���ֱ� */
	color: white; /* �ؽ�Ʈ ������ ������� ���� */
	font-size: 25px;
}

.login-btn2 { /* ���̵� �н����� �Է¾������� �α��� ��ư */
	display: flex;
	text-align: center;
	background-color: #c8c8c8;
	border: none !important; /* �׵θ� ���� */
	margin: 0 auto;
	justify-content: center;
}

.login-btn.active { /* ���̵� �н����� �Է½� �α��ι�ư */
	text-align: center;
	background-color: blue;
	margin: 0 auto;
	justify-content: center;
}