.common-container { /* 전체 */
	display: flex;
	align-items: center;
	text-align: center;
	margin: 20px auto;
	align-content: stretch;
	justify-content: center;
}

.login-form { /*로그인*/
	display: flex;
	text-align: center;
	margin: 0 auto;
	font-size: 35px;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 50px;
}

.form-control {
	display: flex;
	width: 500px;
	text-align: center;
	justify-content: center;
	margin: 20px auto;
	height: 70px;
	border-radius: 35px; /* 둥글게 만들기 위해 높이의 절반값 설정 */
	font-size: 20px;
}

.form-control2 {
	display: flex;
	width: 500px;
	text-align: center;
	justify-content: center;
	margin: 20px auto;
	height: 70px;
	border-radius: 35px; /* 둥글게 만들기 위해 높이의 절반값 설정 */
	font-size: 20px;
}


.save-search { /*아이디저장, 아이디 비밀번호찾기 */
	margin-top: 20px;
	margin-bottom: 20px;
}

.saveId { /* 아이디저장 */
	margin-right: 50px;
	font-size: 25px;
	width: 25px;
	height: 25px;
	margin-botom: 10px;
	width: 40px;
	height: 40px;

}

.search { /* 아이디 비밀번호 찾기 */
	margin-left: 50px;
	border: none !important; /* 테두리 없음 */
	font-size: 18px;
	background-color: white;
	border: none !important;
}

.login-btnAll { /* 로그인 버튼 전체 */
	display: flex;
	text-align: center;
	border: none !important; /* 테두리 없음 */
	justify-content: center;
	font-size: 70px;
	margin: 10px auto;
}

.login-btn {
	background-color: #c8c8c8;;
	width: 500px;
	height: 70px;
	border-radius: 35px; /* 둥글게 만들기 위해 높이의 절반값 설정 */
	border: none !important; /* 테두리 없애기 */
	color: white; /* 텍스트 색상을 흰색으로 설정 */
	font-size: 25px;
}

.kakao-btn {
	background-color: #FFF064;
	width: 500px;
	height: 70px;
	border-radius: 35px; /* 둥글게 만들기 위해 높이의 절반값 설정 */
	border: none !important; /* 테두리 없애기 */
	color: white; /* 텍스트 색상을 흰색으로 설정 */
	font-size: 25px;
}

.naver-btn {
	background-color: #9EF048;
	width: 500px;
	height: 70px;
	border-radius: 35px; /* 둥글게 만들기 위해 높이의 절반값 설정 */
	border: none !important; /* 테두리 없애기 */
	color: white; /* 텍스트 색상을 흰색으로 설정 */
	font-size: 25px;
}

.signUp-btn {
	background: #c8c8c8;
	width: 500px;
	height: 70px;
	border-radius: 35px; /* 둥글게 만들기 위해 높이의 절반값 설정 */
	border: none !important; /* 테두리 없애기 */
	color: white; /* 텍스트 색상을 흰색으로 설정 */
	font-size: 25px;
}

.login-btn2 { /* 아이디 패스워드 입력안했을시 로그인 버튼 */
	display: flex;
	text-align: center;
	background-color: #c8c8c8;
	border: none !important; /* 테두리 없음 */
	margin: 0 auto;
	justify-content: center;
}

.login-btn.active { /* 아이디 패스워드 입력시 로그인버튼 */
	text-align: center;
	background-color: blue;
	margin: 0 auto;
	justify-content: center;
}