
@charset "UTF-8";
/* 리뷰 css (혜령) */

/* 리뷰 전체조회 */
.review-util-div {
	width: 1200px;
	height: 50px;
	margin-top: 70px;
	font-size: 15px;
	padding: 13px;
}

.review-product-utility {
	width: 100%;
	margin-bottom: 200px;
}

.review-product-utility th, .review-product-utility td {
	padding: 12px;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}

.review-product-utility th {
	border-bottom: 2px solid #e7e7e7;
}

.review-product-utility td {
	cursor: pointer;
	text-align: center;
}

.myReviewList {
	width: 904px;
	margin-bottom: 200px;
	margin-top: -2px;
}

.myReviewList th, .myReviewList td {
	padding: 12px;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;	
}

.myReviewList th {
	border-bottom: 2px solid #e7e7e7;
}

.myReviewList td {
	cursor: pointer;
	text-align: center;
	vertical-align: middle;	!important;
}

.service-product-utility td {
	vertical-align: middle;
}

.reviewList-img {
	width: 80px;
	height: 80px;
	margin-right: -80px;
	margin-left: 50px;
}



/* 상품상세 - 리뷰 */
.review-product-utility li {
 	margin-bottom: -100px;  
}

/* 평균별점 게이지 전체박스 */
.progress {
    width: 300px;
    background-color: #f0f0f0;
    height: 10px;
    margin-top: 5px;
}

/* 평균별점 게이지 바 내부박스 */
.progress-bar {
    height: 100%;
    background-color: #58ACFA;
    transition: width 0.5s;
}

.star-label {
    display: inline-block;
    width: 50px;
    margin-right: 10px;
}

.star-label-and-progress {
	display: flex;
	align-items: center;
	margin-bottom: 44px;
}

.percentage {
	margin-left: 10px;
}



/* 리뷰상세 부트스트랩 */
.carousel-inner img {
    width: 250px;
    height: 250px;
    background-color: black;
}

/* 이전 화살표 아이콘 이미지 교체 */
.carousel-control-prev-icon::before {
	content: url("/resources/images/review/arrow-left-short.svg");
}

/* 다음 화살표 아이콘 이미지 교체 */
.carousel-control-next-icon::after {
	content: url("/resources/images/review/arrow-right-short.svg");
}

/* 슬라이드 멈춤 시 배경 색상 설정 */
#imageCarousel.carousel {
	background-color: white; /* 원하는 배경 색상으로 변경 */
}

/* 모든 슬라이드 배경색을 하얀색으로 설정 */
.carousel-inner .carousel-item {
	background-color: white; /* 하얀색 배경색 설정 */
}


/* 리뷰작성 */
/* 사용자 버튼 */
.review-create-btn{
	display: flex;
	justify-content: center;
	gap: 15px;	
	margin-top: 30px;
}

/* 초기화 버튼 */
.review-btn-rset {
	background-color: #c8c8c8;
	margin-right: 10px;
	width: 120px;
	height: 40px;
	border-radius: 20px;
	color: white;
	border: 1px solid #e7e7e7;
	margin-top: 30px;
	cursor: pointer;
}


/* 작성하기 버튼 */
.review-btn-submit {
	background-color: #58ACFA;
	width: 120px;
	height: 40px;
	border-radius: 20px;
	border: 1px solid #e7e7e7;
	color: white;
	margin-top: 30px;
	cursor: pointer;
}


/* 리뷰 내용 textarea */
.review-write-content{
  height: 150px;
  width: 600px;
  justify-content: left;
  text-align: left;
  display: flex;
  border: 1px solid lightgray;
  background-color: white;
  margin: auto;
  padding: 10px;
  resize: none; /* textarea 사이즈 조절 금지 */
}

/* 리뷰작성 table */
.review-write-table {
  height: 180px;
  width: 600px;
  justify-content: left;
  text-align: left;
  display: flex;
  border: 1px solid lightgray;
  background-color: white;
  margin: auto;
  padding: 20px;
}

.review-write-table td {
	margin-left : 100px;
}

.common-title {
	font-size:24px;
	justify-content: center;
	display: flex;
}

/* 별점 */
.star-rating {
   color: #58ACFA; 
   cursor: pointer;
}

/* .common-div table td {
	padding: 5px;
}
 */
/* 작성자 input 테두리 없애기 */
.review-create-writer input[type="text"] {
	border: none;
}


/* 리뷰상세 */
/* 삭제 버튼 */
.review-btn-delete {
	background-color: #58ACFA;
	margin-right: 10px;
	width: 120px;
	height: 40px;
	border-radius: 20px;
	color: white;
	border: 1px solid #e7e7e7;
	margin-top: 30px;
	cursor: pointer;
}

/* 수정하기 버튼 */
.review-btn-update {
	background-color: #58ACFA;
	width: 120px;
	height: 40px;
	border-radius: 20px;
	border: 1px solid #e7e7e7;
	color: white;
	margin-top: 30px;
	cursor: pointer;
}

/* 별점 */
.star-rating-detail {
   color: #58ACFA; /* 리뷰상세에서는 별점 커서 없애기 */
}

/* 제목 input 테두리 없애기 */
.review-detail-title input[type="text"] {
	border: none;
}

/* 리뷰 상세 table */
.review-detail-table {
  height: 160px;
  width: 600px;
  justify-content: left;
  text-align: left;
  display: flex;
  border: 1px solid lightgray;
  background-color: white;
  margin: auto;
  padding: 20px;
}

/* 리뷰 상세 div */
.review-container {
  height: 530px;
  width: 600px;
  justify-content: left;
  text-align: left;
  border: 1px solid lightgray;
  background-color: white;
  padding: 20px;	
}

/* 리뷰 상세 div 속성 */
#review-div, .review-createdAt, .review-img {
	display: inline-block;
}


/* 리뷰상세 textarea */
.review-detail-content {
  height: 150px;
  width: 600px;
  justify-content: left;
  text-align: left;
  display: flex;
  border: 1px solid lightgray;
  background-color: white;
  margin: auto;
  padding: 10px;
  resize: none; /* textarea 사이즈 조절 금지 */
  white-space: pre-line; /* 첫줄 공백 제거 */
}

/* 리뷰상세 제목 */
.review-div-title{
	font-weight: bold;
	font-size: 20px;
}

/* 공백 */
.small-space {
	display: inline-block;
	height: 2em;
}

#review-div-star{
	display: inline-block;
	font-size: 20px;
}


/* 리뷰수정 */
/* 리뷰수정 table */
.review-update-table {
  height: 180px;
  width: 600px;
  justify-content: left;
  text-align: left;
  display: flex;
  border: 1px solid lightgray;
  background-color: white;
  margin: auto;
  padding: 20px;
}

/* 리뷰 수정 내용 textarea */
.review-update-content{
  height: 150px;
  width: 600px;
  justify-content: left;
  text-align: left;
  display: flex;
  border: 1px solid lightgray;
  background-color: white;
  margin: auto;
  padding: 10px;
  resize: none; /* textarea 사이즈 조절 금지 */
  white-space: pre-line; /* 첫줄 공백 제거 */
}

/* 제목 input 테두리 없애기 */
.review-update-title input[type="text"] {
	border: none;
}

/* 사용자 버튼 */
.review-update-btn{
	display: flex;
	justify-content: center;
	gap: 15px;	
	margin-top: 30px;
}

/* 초기화 버튼 */
.review-btn-reset {
	background-color: #c8c8c8;
	margin-right: 10px;
	width: 120px;
	height: 40px;
	border-radius: 20px;
	color: white;
	border: 1px solid #e7e7e7;
	margin-top: 30px;
	cursor: pointer;
}

/* 수정하기 버튼 */
.review-btn-update {
	background-color: #58ACFA;
	width: 120px;
	height: 40px;
	border-radius: 20px;
	border: 1px solid #e7e7e7;
	color: white;
	margin-top: 30px;
	cursor: pointer;
}

/* 페이징바 전체 스타일 */
.review-pagination {
    	display: -ms-flexbox;
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: .25rem;
	position: absolute;
    margin-top: 620px;
}

.page-link {
	position: relative;
	display: block;
	padding: .5rem .75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #007bff;
	background-color: #fff;
	border: 1px solid #dee2e6
}

.page-link:hover {
	z-index: 2;
	color: #0056b3;
	text-decoration: none;
	background-color: #e9ecef;
	border-color: #dee2e6
}

.page-link:focus {
	z-index: 3;
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.page-item:first-child .page-link {
	margin-left: 0;
	border-top-left-radius: .25rem;
	border-bottom-left-radius: .25rem
}

.page-item:last-child .page-link {
	border-top-right-radius: .25rem;
	border-bottom-right-radius: .25rem
}

.page-item.active .page-link {
	z-index: 3;
	color: #fff;
	background-color: #5886d3;
	border-color: #5886d3
}


.page-item.disabled .page-link {
	color: #6c757d;
	pointer-events: none;
	cursor: auto;
	background-color: #fff;
	border-color: #dee2e6
}

.pagination-lg .page-link {
	padding: .75rem 1.5rem;
	font-size: 1.25rem;
	line-height: 1.5
}

.pagination-lg .page-item:first-child .page-link {
	border-top-left-radius: .3rem;
	border-bottom-left-radius: .3rem
}

.pagination-lg .page-item:last-child .page-link {
	border-top-right-radius: .3rem;
	border-bottom-right-radius: .3rem
}

.pagination-sm .page-link {
	padding: .25rem .5rem;
	font-size: .875rem;
	line-height: 1.5
}

.pagination-sm .page-item:first-child .page-link {
	border-top-left-radius: .2rem;
	border-bottom-left-radius: .2rem
}

.pagination-sm .page-item:last-child .page-link {
	border-top-right-radius: .2rem;
	border-bottom-right-radius: .2rem
}

.review_gallery_wrap3 {
	position: relative;
	height: 277px;
	overflow: hidden;
	margin-top: 20px;
}

